@charset "UTF-8";
*{
    margin:0;
    padding:0;
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

html{
    /* width:640px; */
}
body{
    /* width:640px; */
    background-color: #ccc;
    color:#fff;
}

#main{
    width:640px;
    /*
    height:700px;
    */
    background-color: #000;
}

